$purple: #5754EE
$green: #6CEAA8
$pink: #E66DCB

$x-purple: #8A98DE
$x-yellow: #EBC066
$x-cyan: #65D2F3

$border-radius: 4px

$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
$shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

$size-normal: 1rem
$size-small: .85rem